/* Fonts */
@import 'inter/inter.css';
@import 'jersey/jersey.css';

/**
 * Design tokens and CSS variables
 */
:root {
  /* Colors */
  --gray: #6b7280;

  /* Layout */
  --container-width: 768px;

  /* Typography */
  --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-jersey: 'Jersey', serif;

    /* Font sizes */
  --text-xs: 0.75rem;    /* 12px */
  --text-sm: 0.875rem;   /* 14px */
  --text-base: 1rem;     /* 16px */
  --text-md: 1.125rem;   /* 18px */
  --text-lg: 1.25rem;    /* 20px */
  --text-xl: 1.5rem;     /* 24px */
  --text-2xl: 1.875rem;  /* 30px */
  --text-3xl: 2.25rem;   /* 36px */

  /* Font weights */
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}

.jersey { font-family: var(--font-jersey); }

.text-xs { font-size: var(--text-xs); }
.text-sm { font-size: var(--text-sm); }
.text-base { font-size: var(--text-base); }
.text-md { font-size: var(--text-md); }
.text-lg { font-size: var(--text-lg); }
.text-xl { font-size: var(--text-xl); }
.text-2xl { font-size: var(--text-2xl); }
.text-3xl { font-size: var(--text-3xl); }

.hero {
  background: linear-gradient(to right, #92b4f8, #4289a7);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-bottom: 1em;
  padding: 2rem;
}