<nav class="topnav">
    <div class="nav-container">
        <div class="nav-left">
            <a href="/" class="nav-brand">
                <span>CodeClash</span>
            </a>
        </div>
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="">Docs</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href=""></a>Arenas</li>
            </ul>
        </div>
    </div>
</nav>
