{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Code Arenas</h1>
</div>

<div class="arenas-container">
    <div class="arenas-grid">
        {%- for page in pages | sort(attribute='title') %}
        <a href="{{ url_for("page", path=page.path) }}" class="arena-link">
            <div class="arena-card">
                <img src="{{ page.logo }}" alt="{{ page.title }}">
                <p class="arena-title">{{ page.title }}</p>
                <p style="margin: 0.35em 0 0.65em 0;width:90%;">{{ page.description }}</p>
            </div>
        </a>
        {%- endfor %}
    </div>
</div>

{% endblock content %}
