<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CodeClash{% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include "_topnav.html" %}

    <div class="container">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </div>
</body>
</html>