<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CodeClash{% endblock %}</title>
    <link rel="stylesheet" href="css/main.css">
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-H9XFCMDPNS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H9XFCMDPNS");
    </script>
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include "_topnav.html" %}

    <div class="main-container">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </div>
</body>
</html>